name: Build .NET Framework

on:
  workflow_call:
    inputs:
      publish-project:
        required: true
        type: string
      publish-path:
        required: true
        type: string
      build-configuration:
        required: false
        type: string
        default: "Release"
      msbuild-args:
        required: false
        type: string
        default: ""
      test-file-glob:
        required: false
        type: string
      upload-artifact:
        required: false
        type: boolean
        default: false
      upload-artifact-name:
        required: false
        type: string
        default: publish-package
    secrets:
      github-token:
        required: true

jobs:
  build:
    name: Build .NET Framework
    runs-on: [self-hosted, windows, x64, pella, msbuild]
    steps:
      - uses: actions/checkout@v4
        name: Checkout Code
      - name: Setup MSBuild Path
        uses: microsoft/setup-msbuild@v2
      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2
      # - name: Setup VSTest.console.exe
      #   uses: darenm/Setup-VSTest@v1
      - name: Configure Vermeer Package Source
        run: |
          if (!(nuget sources list | ? { $_ -like "*https://nuget.vermeer.com/nuget"})) {
            nuget sources add -Name "Vermeer" -Source "https://nuget.vermeer.com/nuget"
          }
      - name: Configure GitHub Package Source
        run: |
          if (nuget sources list | ? { $_ -like "*https://nuget.pkg.github.com/vermeer-corp/*"}) {
            nuget sources remove -Name "Vermeer GitHub"
          }
          nuget sources add -Username vermeer-corp -Password ${{ secrets.github-token }} -StorePasswordInClearText -Name "Vermeer GitHub" -Source "https://nuget.pkg.github.com/vermeer-corp/index.json"
      - name: Remove ACS NuGet Sources
        run: |
          if (nuget sources list | ? { $_ -like "*https://pkgs.dev.azure.com/vermeeracs/*"}) {
            nuget sources remove -Name "OnMachine-Settings"
          }
          if (nuget sources list | ? { $_ -like "*https://dcinuget01.azurewebsites.net/nuget*"}) {
            nuget sources remove -Name "DCI"
          }
      - name: Restore dependencies
        run: nuget restore
      - name: Build and Package App
        run: msbuild ${{ inputs.publish-project }} /p:Configuration=${{ inputs.build-configuration }} ${{ inputs.msbuild-args }}
      # - name: Test
      #   run: vstest.console.exe ${{ inputs.test-file-glob }}
      #   if: ${{ inputs.test-file-glob && inputs.test-file-glob != '' && success() }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ inputs.upload-artifact-name }}"
          path: "${{ inputs.publish-path }}"
          include-hidden-files: 'true'
        if: ${{ success() && inputs.upload-artifact }}
