name: Build .NET Core

on:
  workflow_call:
    inputs:
      publish-project:
        required: true
        type: string
      publish-path:
        required: true
        type: string
      build-configuration:
        required: false
        type: string
        default: "Release"
      dotnet-version:
        required: false
        type: string
        default: 6.0.x
      upload-artifact:
        required: false
        type: boolean
        default: false
      upload-artifact-name:
        required: false
        type: string
        default: publish-package
    secrets:
      github-token:
        required: true

jobs:
  build:
    name: Build .NET
    runs-on: [self-hosted, windows, x64, pella, msbuild]
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: Configure GitHub Package Source
        run: |
          if (!(dotnet nuget list source | ? { $_ -like "*https://nuget.vermeer.com/nuget"})) {
            dotnet nuget remove source "Vermeer"
          }
          if (dotnet nuget list source | ? { $_ -like "*https://nuget.pkg.github.com/vermeer-corp/*"}) {
            dotnet nuget remove source "Vermeer GitHub"
          }
          dotnet nuget add source --username vermeer-corp --password ${{ secrets.github-token }} --store-password-in-clear-text --name "Vermeer GitHub" "https://nuget.pkg.github.com/vermeer-corp/index.json"
      - name: Remove ACS NuGet Sources
        run: |
          if (dotnet nuget list source | ? { $_ -like "*https://pkgs.dev.azure.com/vermeeracs/*"}) {
            dotnet nuget remove source "OnMachine-Settings"
          }
          if (dotnet nuget list source | ? { $_ -like "*https://dcinuget01.azurewebsites.net/nuget*"}) {
            dotnet nuget remove source "DCI"
          }
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build -c ${{ inputs.build-configuration }} --no-restore
      - name: Test
        run: dotnet test -c ${{ inputs.build-configuration }} --no-build --verbosity normal
      - name: Build Artifact Package
        run: dotnet publish -c ${{ inputs.build-configuration }} --no-build "${{ inputs.publish-project }}"
        if: ${{ success() && inputs.upload-artifact }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ inputs.upload-artifact-name }}"
          path: "${{ inputs.publish-path }}"
          include-hidden-files: 'true'
        if: ${{ success() && inputs.upload-artifact }}
